@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.menu{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* align-items: center; */
}

.search{
    margin: 110px 0 110px;
    width: 40%;
    border: none;
    background-color: #ECEFF5;
    padding: 12px;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.entrar-cadastrar{
    margin: 110px 0 110px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #FF1616;
}

.div-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bolsa-compras{
    width: 50px;
    cursor: pointer;
}





.titulo{
    text-align: center;
}

.main{
    display: flex;
}
section{
    width: auto;
    margin: 50px auto;
}
  
.face {
    width: 300px;
    height: 600px;
    perspective: 700px;
}
  
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: 700ms;
}
  
.front {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #ECEFF5;
    z-index: 1;
}

.front h2{
    text-align: center;
}
.back {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    background: #C4C4C4;
    transform: rotateX(180deg);
    backface-visibility: hidden;
}
  
.face:hover .front {
    transform: rotateX(-180deg);
    z-index: 0;
}
  
.face:hover .back {
    transform: rotateY(0);
    z-index: 1;
} 


















footer{
    background-color: #c4c4c4;
}


.rodape{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;

}

.titulo{
    margin: 50px 0 50px 0;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-rede{
    font-size: 25px;
    margin: 50px 0 0 0 ;
}

.icones-rede{
    margin: 25px 0 50px 0 ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
    width: 15%;
}

.instagram,
.facebook,
.twitter{
    cursor: pointer;
}